Bin/
Lib/
.vs/
Server/.vs/
Server/Bin/
Server/Lib/
Server/Lib/Include/
Server/Lib/Debug/
explain/.vs/
explain/Bin/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
